[submodule "UnofficialCrusaderPatch3-3.0.0"]
	path = UnofficialCrusaderPatch3-3.0.0
	url = https://github.com/UnofficialCrusaderPatch/UnofficialCrusaderPatch3
[submodule "graphicsApiReplacer-1.1.0"]
	path = modules/graphicsApiReplacer-1.1.0
	url = https://github.com/TheRedDaemon/ucp_graphicsApiReplacer
[submodule "gmResourceModifier-0.1.0"]
	path = modules/gmResourceModifier-0.1.0
	url = https://github.com/TheRedDaemon/ucp_gmResourceModifier
[submodule "inputHandler-0.1.0"]
	path = modules/inputHandler-0.1.0
	url = https://github.com/TheRedDaemon/ucp_inputHandler
[submodule "textResourceModifier-0.2.0"]
	path = modules/textResourceModifier-0.2.0
	url = https://github.com/TheRedDaemon/ucp_textResourceModifier
[submodule "winProcHandler-0.1.0"]
	path = modules/winProcHandler-0.1.0
	url = https://github.com/TheRedDaemon/ucp_winProcHandler
[submodule "modules/startResources-0.1.0"]
	path = modules/startResources-0.1.0
	url = https://github.com/gynt/ucp_startResources
